* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fcc857;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign_up_label {
  color: #fcc857;
  font-size: 6vh;
  background-color: transparent;
}

.logo_cont {
  z-index: 1;
  border-top-left-radius: 6vh;
  border-bottom-left-radius: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 28vw;
  background-color: #fcc857;
  margin-top: 24vh;
  border: 2px solid white;
  box-shadow: -29px -3px 45px 7px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: -29px -3px 45px 7px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -29px -3px 45px 7px rgba(0, 0, 0, 0.58);
}

.incorrect_password {
  z-index: 3; /* Ensure it's above the logo and login container */
  position: absolute; /* Position it above the other elements */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the positioning to truly center it */
  background-color: #ffffff;
  height: 32vh;
  width: 36vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px; /* Optional: add some border radius */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Optional: add some shadow */
  text-align: center; /* Optional: center the text inside */
}

.incorrect_password .inco_message {
  font-size: 4.3vh;
  color: #333;
  margin-bottom: 1.5vh;
  background-color: #ffffff;
}

.incorrect_password .inco_button {
  padding: 1vh 2vw;
  background-color: #fcc857;
  border: none;
  border-radius: 4vh;
  color: white;
  font-size: 2.8vh;
  cursor: pointer;
}

.incorrect_password .inco_button:hover {
  background-color: #f2b02d;
}

.incorrect_email, .incorrect_password {
  z-index: 3; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #ffffff;
  height: 32vh; 
  width: 36vw; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  border-radius: 10px; 
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  border: 1px solid #ccc;
}

.incorrect_email .email_message, .incorrect_password .inco_message {
  font-size: 4.3vh; 
  color: #333; 
  margin-bottom: 1.5vh; 
  background-color: #ffffff; 
}

.incorrect_email .email_button, .incorrect_password .inco_button {
  padding: 1vh 2vw; 
  background-color: #fcc857; 
  border: none; 
  border-radius: 4vh; 
  color: white; 
  font-size: 2.8vh; 
  cursor: pointer; 
}

.incorrect_email .email_button:hover, .incorrect_password .inco_button:hover {
  background-color: #f2b02d; 
}

.incomplete_fields {
  z-index: 3; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #ffffff; 
  height: 32vh; 
  width: 36vw;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  border-radius: 10px; 
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center; 
  border: 1px solid #ccc; 
}

.fields_message {
  font-size: 4.3vh; 
  color: #333; 
  margin-bottom: 1.5vh; 
  background-color: #ffffff; 
}

.fields_button {
  padding: 1vh 2vw; 
  background-color: #fcc857; 
  border: none; 
  border-radius: 4vh; 
  color: white; 
  font-size: 2.8vh; 
  cursor: pointer; 
}

.fields_button:hover {
  background-color: #f2b02d; 
}


.login_container_style {
  z-index: 1;
  border: 2px solid white;
  border-top-right-radius: 6vh;
  border-bottom-right-radius: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 24vh;
  background-color: #ffffff;
  height: 50vh;
  width: 44vw;
  box-shadow: 26px -3px 45px 7px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 26px -3px 45px 7px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 26px -3px 45px 7px rgba(0, 0, 0, 0.58);
}

.large_title {
  font-weight: bolder;
  color: white;
  font-size: 8vh;
  text-align: center;
}

input {
  margin-top: 2vh;
  display: flex;
  height: 6vh;
  width: 30vw;
  outline: none;
  border: 1.2px solid grey;
  border-radius: 4vh;
  padding-left: 4vh;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.password-container {
  background-color: white;
  position: relative;
  width: 30vw;
  margin-top: 2.4vh;
  height: 6vh;
  border-radius: 4vh;
}

.password_input_style {
  background-color: #ffffff;
  color: black;
  margin-top: 0; /* Reset margin to align with the container */
  margin-left: -2vh;
  width: calc(100% - 5vh); /* Account for button width */
  height: 100%;
  border-radius: 4vh;
  padding-left: 4vh;
  padding-right: 5vh; /* Adjust space for button */
}

.toggle-button {
  position: absolute;
  right: 2.8vh;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 4vh;
  margin-right: -2vh;
}

.icon {
  height: 100%;
  background-color: #ffffff;
}

.login_button_style {
  margin-top: 2.4vh;
  height: 6vh;
  width: 12vw;
  border: none;
  border-radius: 4vh;
  color: white;
  font-size: 2.4vh;
  font-weight: bold;
}

p {
  margin-top: 2vh;
}

.log {
  background-color: #ffffff;
}

.redirect_link {
  background-color: white;
}
