@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap);

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login_container_style {
    display: flex;
    width: 500px;
    height: 400px;
    padding: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #FFC857;
    border-radius: 10px;
    gap: 20px;
}

.email_input_style, .password_input_style, .login_button_style {
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

#username_input, #create-account_button {
    border-radius: 5px;
}

.password-container {
    position: relative;
    width: 200px;
}

.toggle-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007BFF;
    font-size: 14px;
    height: 40px;
    padding: 0;
}

.icon {
    width: 20px;
    height: auto;
}

.login_button_style, .create-account_button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login_button_style:hover, .create-account_button:hover {
    background-color: #ccc;
}

.log {
    color: black;
    position: relative;
    bottom: 0;
}

.button {
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.large_title {
    font-size: 50px;
    color: white;
    font-family: 'Montserrat';
}

.redirect_link {
    color: black;
}